body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 100vh;
}

.header {
  border: 2px solid pink;
  grid-column-start: 2;
}

.sidebar {
  border: 2px solid green;
  grid-column: 1;
  grid-row: 1 / span 2;
}

.main {
  border: 5px solid red;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.announcements {
  border: 3px solid blue;
}

.projects {
  border: 3px solid darkkhaki;
  grid-row: span 2;
}

.trending-profiles {
  border: 3px solid darkorange;
  grid-column: 2;
}

.project {
  border: 2px solid brown;
}
