body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 100vh;
}

.header {
  border: 2px solid pink;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-start: 2;
}

.search-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  align-items: center;
}

.greeting-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  align-items: center;
}

.sidebar {
  border: 2px solid green;
  grid-column: 1;
  grid-row: 1 / span 2;
}

.main {
  border: 5px solid red;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.announcements {
  border: 3px solid blue;
  display: grid;
  grid-template-columns: 1fr;
}

.projects {
  display: grid;
  border: 3px solid darkkhaki;
  grid-row: span 2;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;
}

.trending-profiles {
  display: grid;
  border: 3px solid darkorange;
  grid-column: 2;
  row-gap: 10px;
}

.user {
  border: 1px solid green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project {
  border: 2px solid brown;
}

#project-header {
  grid-column: span 2;
  margin: 0;
  padding: 0;
}
